<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981705216545-98kcvefm1ko5r6d5cmbhihppp1tl0ub7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981705216545-98kcvefm1ko5r6d5cmbhihppp1tl0ub7</string>
	<key>API_KEY</key>
	<string>AIzaSyDoug4ZzIvfvA4_2NLdx3_2pNPfSCerKnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>981705216545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionAi</string>
	<key>PROJECT_ID</key>
	<string>grid-5-software</string>
	<key>STORAGE_BUCKET</key>
	<string>grid-5-software.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981705216545:ios:ddc56c41c5058498b90960</string>
</dict>
</plist>